.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  z-index: -2;
}

.CardRoot {
  color: black;
  border-color: black;
  width: 1500px;
  height: 800px;
  border-top-left-radius: 10px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #333333;
  padding: 25px;
}

.bodySidebar {
  display: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  height: 125%;
  width: 125%;
  background-color: #333333;
}

.bodySidebar .icon {
  background-image: url("../media/pics/profilepic.png");
  width: 10rem;
  height: 10rem;
  position: relative;
  border-style: solid;
}

.bodyIntro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  z-index: 3;
;
}

.linkBar {
  background-color: #444545;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 600px;
  text-align: center;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.linkBar p {
  margin: 2rem;
  font-size: 1rem;
  color: #fdca40;
  z-index: 3;
}

.linkBar a {
  margin: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fdca40;
  z-index: 3;
}

.cardPic {
  border-style: solid;
  z-index: 3;
  position: relative;
  pointer-events: none;
}

.cardPic2 {
  position: relative;
  pointer-events: none;
  bottom: 2rem;
}

.bodySidebar .sideContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  width: 21rem;
  height: 30rem;
  bottom: 5rem;
  padding: 2.5rem;
  background-color: #333333;
  z-index: 3;
  border-style: solid;
}

.bodyContainer {
  position: relative;
  width: 110%;
  height: 100%;
  float: right;
  margin: 0;
  background-color: #333333;
  z-index: 3;
}

.front {
  position: absolute;
  border-style: solid;
  width: 1500px;
  height: 800px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  backface-visibility: hidden;
  background-color: #333333;
  z-index: 3;
}

.contentContainer {
  position: absolute ;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  width: 50rem;
  height: 40rem;
  margin-left: 29rem;
  bottom: 3rem;
  padding: 2.5rem;
  background-color: #333333;
  z-index: 3;
  border-style: solid;
}

.slideButton {
  width: 5rem;
  height: 5rem;
  background: none;
  border-style: none;
  text-transform: none;
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

.slide-button:hover {
  transform: translateX(5px);
  transition: transform 0.3s ease-in-out;
}

/* cloudcard additions */

.cloud1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
  background-image: url("../media/pics/cloud1.png");
  animation: cloud1-animation 15s linear infinite;
  background-size: cover;
  animation-direction: normal;
  background-repeat: repeat-x;
  background-size: auto;
  pointer-events: none;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.cloud2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 80%;
  z-index: -3;
  background-image: url("../media/pics/cloud2.png");
  animation: cloud2-animation 20s linear infinite;
  background-size: cover;
  animation-direction: normal;
  background-repeat: repeat-x;
  background-size: auto;
  pointer-events: none;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.cloud3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -4;
  filter: invert(.7);
  background-image: url("../media/pics/cloud3.png");
  animation: cloud3-animation 35s linear infinite;
  background-repeat: repeat-x;
  background-size: auto;
  pointer-events: none;
}

@keyframes cloud1-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1579px 0;
  }
}

@keyframes cloud2-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -1000px 0;
  }
}

@keyframes cloud3-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 0;
  }
}